.input {
    padding: 15px 20px;
    border: none;
    background-color: #ffffff29;
    border-radius: 10px;
    color: hsl(0deg 0% 99.16% / 87%);
    width: 100%;
}
.inputTransactions {
    padding: 2px 4px;
    /* border: none; */
    background-color: hsl(240deg 7% 97% / 74%);
    border-radius: 10px;
    color: #022244;
    border: solid 0.1em #022244;
    width: 90%;
    height: 30px;
}
.inputValue {
    padding: 2px 4px;
    border: none;
    background-color: hsl(240deg 47.13% 36.9% / 19%);
    border-radius: 10px;
    color: #022244;
    /* border: solid 0.1em #022244; */
    /* width: 90%; */
    height: 30px;
}
