/* components/Card.module.css */
.card {
    background-color: rgba(2, 29, 53, 0.837);
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px; /* Defina um valor mínimo de largura para o .card */

    /* Adicione um padding padrão para o .card */
    padding: 2em;
}

.title {
    text-align: center;
}

/* Media query para telas menores que 768px */
@media screen and (max-width: 768px) {
    .card {
        min-width: 90%; /* Reduza a largura para tamanhos de tela menores */
    }
}
