.background {
  padding: 0 0.7rem;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(5, 118, 248, 0.608) 30%,
    #e7eef3 70%,
    #e7eef3 100%
  );
}
.loading{
  width: 100%;
  height: 100vh;
  background-color: rgba(5, 118, 248, 0.608);
}
