/* CardHome.module.css */

.cardcontainer {
    background-color: #e7eef3;
    border-radius: 10px;
    padding: 10px;
 
  }
  
  .card {
       /* margin: 1rem; */
       padding: 1rem;
       text-align: left;
       color: inherit;
       text-decoration: none;
       border: none;
       border-radius: 10px;
       color: hsla(240,7%,97%,1);
       max-width: 400px;
       background-color: #022244;
   }
  
  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .box {
    width: 100%;
    margin: 0 0 1rem 0;
    font-size: 1.1rem;
  }
  
  .logo {
    height: 1em;
    margin-left: 0.5rem;
    color: #022244;
  }
  